*{
    font-family: 'Roboto', sans-serif;
    margin: 0 0;
    word-wrap: break-word;
    box-sizing: border-box;
}
body{
    width: 800px;
    margin: 0 auto;
    background: #E5E5E5;
    box-sizing: border-box;
}
main {
  margin-top: 0;
  background-color: white;
  padding-bottom: 0.5px;

}
@media screen and (max-width: 700px) {
  body{   
    width: 100%;
  }
  main{
    padding: 0 10px;
    overflow-x: hidden;
 }
}   